
aside
{
	width: 30%;
	height: 100%;
	position: left;
	background-color: #FFB300;
	color:black;
}

a
{
	position:top center;
	
}
#conteneur
{
	display: flex;
	flex-direction: column;
	
}
.element
{
	h2
	{
		position: centre;

	}
	ul
	{
		position: left;
	}
}
.element: nth-child(2)
{
	h2
	{
		position: centre;
	}
	p
	{
		position: justify;
	}
}
.element: nth-childe(3)
{
	h2
	{
		position: center;
	}

}
i
{
	position: center;
}
div
{
	width: 70%; 
	height: 100%;
	position: right;
}
h1
{
	color: black;
	font-size: 35px;
}

mark
{
	color: #FFB900;
}

h2
{
	font-size: 22px;
	position: left;
}

ul
{
	font-size: 10px;
	position :left;
}

p
{
	font-size: 12px;
}

ol
{
	font-size: 12px;
}

h3
{
	font-size: 16px
}