
aside
{
	display: flex;

	width: 30%;
	height: 100%;
	
	background-color: #FFB300;
	color:black;
}

img
{
	border-radius: 50%;
	align-self: center;
}
#conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: space-between space-around;
	padding: 12px;
	
}
.element
{
	h2
	{
		position: centre;
		background-color: black;
		color:#FFB300;
		font-family: : calibri;


	}
	div
	{
		position: left;
	}
	p
	{
		position: left;
	}
}
.element: nth-child(2)
{
	h2
	{
		position: centre;
		background-color: black;
		color:#FFB300;
		font-family: : calibri;
	}
	p
	{
		position: center;
		font-size: 16px
		font-style:calibri;
	}
}
.element: nth-childe(3)

{
	position: center;
}
	h2
	{
		position: center;
		background-color: black;
		color:#FFB300;
		font-style: calibri;
	}
	p
	{
		position: center;
	}
}
i
{
	position: center;
}
article
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 70%; 
	height: 100%;
	position: right;
	text-align: left;
}
h1
{	

	color: black;
	font-size: 32px;
	font-family: calibri;
	
}

strong
{
	color: #FFB300;
	font-family: calibri;
	font-weight: bold;
}

	p
	{
		font-size: 16px;
		font-family: calibri;
	}
h2
{
	font-size: 22px;
	position: left;
	font-family: calibri;

}

div
{
	font-size: 12px;
	position :left;
	font-family: calibri;

}
p
{
	font-size: 12px;
	font-family:  calibri;
	position: wright;
}


h3
{
	font-size: 16px;
	font-family:  calibri
}
