
aside
{
	float: left;
	width: 30%;
	height: 100%;
	margin: auto;
	background-color: #FFB300;
	color:black;
}

img
{
	position:top center;
	border-radius: 50%;
	
}
#conteneur
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.element
{
	h2
	{
		position: centre;
		background-color: black;

	}
	ul
	{
		position: left;
		font-size: 16px;
	}
}
.element: nth-child(2)
{
	h2
	{
		position: centre;
	}
	p
	{
		position: justify;
		font-size: 16px
	}
}
.element: nth-childe(3)
{
	h2
	{
		position: center;
	}

}
i
{
	position: center;
}
article
{
	float: right;
	margin: auto;
	width: 70%; 
	height: 100%;
	position: right;
	text-align: left;
}
h1
{	

	color: black;
	font-size: 35px;
}

strong
{
	color: #FFB300;
	
}

	p
	{
		font-size: 16px;
	}
h2
{
	font-size: 22px;
	position: left;

}

ul
{
	font-size: 10px;
	position :left;
}

p
{
	font-size: 12px;
}

ol
{
	font-size: 12px;
}

h3
{
	font-size: 16px
}